mt-domain-navigator {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1rem;
    background: whitesmoke;
}

.mt-domain-navigator ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .mt-domain-navigator ul li {
    margin-right: 10px;
  }
