.mt-domain-navigator {
  position: fixed;
  right: 0;
  top: calc(30% + 58px + 58px);
  overflow: hidden;
  max-height: 60vh; /* Adjust this value as needed */
  transition: max-width 0.2s ease-out;
  z-index: 1000;
  background: rgba(37, 37, 37, 0.95);
  padding: .5rem;
  border-radius: 4px;
}

.mt-domain-navigator.collapsed {
  max-width: 0; /* Change from max-height to max-width */
  opacity: 0;
}

.mt-domain-navigator-toggle {
  font-size: .9rem;
  color: white;
  position: fixed;
  right: 0;
  top: calc(30% + 58px); /* Adjust this value as needed */
  cursor: pointer;
  padding: 0.5rem 0.5rem 0rem;
  background-color: rgba(0, 170, 239, .5);

  /* Add these lines */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 4px;
  z-index: 9999;

  min-width: 74px;
}

.mt-domain-navigator-toggle.mt-buy{ 
  top: 30%;
}
.mt-domain-navigator-toggle:hover {
  background-color: rgba(0, 170, 239, 1) !important;
  transform: translateX(0);
} 

.mt-domain-navigator ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 308px;
}

.mt-domain-navigator ul li {
  border: solid 1px rgb(204 204 204);
  width: 100px;
  height: 75px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Align text to the bottom */
  text-align: center;
  position: relative; /* Add this to position the pseudo-element relative to the li */
  border-radius: 2px;
}

.mt-domain-navigator ul li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); /* Modify the gradient */
  z-index: 1;
}

.mt-domain-navigator ul li:hover::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 170, 239, 0.3)); /* Modify the gradient */
}

.mt-domain-navigator ul li a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align text to the bottom */
  position: relative; /* Add this to position the a element above the pseudo-element */
  z-index: 2;
  font-size: 0.8rem;
}