{% if links %}
  <div class="mt-domain-navigator">
    <ul>
      {% for key, link in links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}