{{ attach_library('mt_domain_navigator/mt-domain-navigator') }}

{% if links %}
  <div class="mt-domain-navigator">
    <ul>
      {% if caption %}
        <li class="mt-domain-navigator-caption">{{ caption }}</li>
      {% endif %}
      {% for key, link in links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}